body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 44px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
}

footer{
    display: flex;
    justify-content: center;
    font-size: 10px;
    background-color: rgb(249, 200, 224);
}